<section class="benefits">
  <div class="container">
    <div class="benefits__wrp">
      <div class="benefits__benefit">
        <img src="/img/benefits/rocket.svg" alt="" class="benefits__img">
        <p class="benefits__name">Моментальный ремонт</p>
        <p class="benefits__text">И мы не шутим. Чаще всего мы можем приступить к ремонту уже в течении суток — проверьте сами.</p>
      </div>
      <div class="benefits__benefit">
        <img src="/img/benefits/warranty.svg" alt="" class="benefits__img">
        <p class="benefits__name">Гарантия до 6 месяцев</p>
        <p class="benefits__text">В зависимости от типа ремонта мы предоставляем гарантию на свои услуги до 6 месяцев. Обязательно оставляем квитанцию.</p>
      </div>
      <div class="benefits__benefit">
        <img src="/img/benefits/discount.svg" alt="" class="benefits__img">
        <p class="benefits__name">Скидки 20%</p>
        <p class="benefits__text">Сделаем скидку 20%. Возможно сейчас действуют другие акции для вас — уточните у оператора.</p>
      </div>
    </div>
  </div>
</section>