<section class="about">
  <div class="container">
    <div class="about__wrp">
      <h3>
        Ремонт бензиновой и садовой техники BRP - специализированный сервисный
        центр
      </h3>
      <p>
        BRP создает продукцию, которая помогает в повседневной жизни. Это
        инструменты для дома, сада, леса и строительства. Высокое качество,
        инновации, эргономичность и приемлемая цена - вот что отличает ее от
        других производителей.
      </p>

      <p>
        Мы производим ремонт всей продукции BRP, предназначенной для дома, сада
        и леса и знаем об этом абсолютно все. Большой опыт работы, все
        технические и инженерные знания, необходимое оборудования для ремонта и
        наличие запчастей - наши основные преимущества. Кроме ремонта мы
        выполняем техническое обслуживание и настройку бензиновой и садовой
        техники STIHL. Хотите что бы Ваша бензиновая техника радовала Вас как
        можно дольше? Приносите ее к нам!
      </p>
      <h3>Сервисный центр BRP в Москве</h3>
      <p>Эффективное оборудование и многолетний опыт ремонта техники предоставляют нам возможность восстановить работоспособность любых важных узлов бензоинструмента и бензооборудования. Современная техническая оснащенность – это далеко не единственное наше конкурентное преимущество. Наши специалисты проводят недорогую и оперативную диагностику аппарата - бесплатно при дальнейшем ремонте выявленной неисправности в нашем сервисе. Следует отметить, что стоимость ремонта бензоинструмента и бензооборудования чаще всего зависит от конкретной поломки и стоимости нужных для её устранения запасных частей.</p>

      <p><b>Сервисный центр BRP — ваш надежный партнер!</b></p>
    </div>
  </div>
</section>
