<nav class="nav-cards page__nav-cards">
  <h2 class="nav-cards__heading"><span>Мы</span> ремонтируем <span>—</span></h2>
  <div class="nav-cards__wrp container">    
    <div class="swiper navSwiper">
      <div class="swiper-wrapper">
          <a href="#" class="nav-cards__card swiper-slide">
            <img
              class="nav-cards__img"
              src="/img/nav-cards/photo-01.jpg"
              alt=""
            />
            <span class="nav-cards__text">Гидроциклы</span>
          </a>
          <a href="#" class="nav-cards__card swiper-slide">
            <img
              class="nav-cards__img"
              src="/img/nav-cards/photo-02.jpg"
              alt=""
            />
            <span class="nav-cards__text">Снегоходы</span>
          </a>
          <a href="#" class="nav-cards__card swiper-slide">
            <img
              class="nav-cards__img"
              src="/img/nav-cards/photo-03.jpg"
              alt=""
            />
            <span class="nav-cards__text">Трициклы</span>
          </a>
          <a href="#" class="nav-cards__card swiper-slide">
            <img
              class="nav-cards__img"
              src="/img/nav-cards/photo-04.jpg"
              alt=""
            />
            <span class="nav-cards__text">Багги</span>
          </a>
      </div>

    </div>
    
  </div>
</nav>
