@import 'order/order';

// X-Small devices (portrait phones, less than 576px)
.first-screen {
  // height: 870px;
  background: #f5f5f5;
  padding-bottom: 40px;

  &__inner {
    display: flex;
    flex-direction: column;
  
    // position: relative;
    overflow-x: hidden;
    height: inherit;
  }

  &__title {
    order: 1;
    text-align: center;
    font-family: 'Avenir Next Cyr';
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
  }
  &__subtitle {
    order: 2;
    text-align: center;
  }
  &__bg {
    order: 3;
    // position: absolute;
    // top: 190px;
    // right: -90px;
    width: 580px;
    margin-left: -125px;
    height: auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .first-screen {
    height: 640px;

    &__inner {
      position: relative;
      overflow-x: visible;
      display: block;
      height: inherit;
    }
  
    &__title {
      position: absolute;
      top: 24px;
      width: 90%;
      top: 20px;
      max-width: 500px;
      font-family: 'Avenir Next Cyr Bold';
      font-size: 52px;
      text-align: left;
      text-transform: unset;
      font-style: italic;
      line-height: 1.1;
      text-shadow: 1px 1px 10px rgba(255,255,255,1);
    }

    &__subtitle {
      position: absolute;
      top: 330px;
      left: 40px;
      width: 30%;
      font-family: 'Avenir Next Cyr Bold';
      font-size: 32px;
      color: $color_main_brand;
      text-align: left;
      line-height: 1.1;
      hyphens: none;
      text-shadow: 0 0 10px rgba(255,255,255,1);
    }

    &__bg {
      position: absolute;
      right: -100px;
      width: 82%;
    }
  }
}